body {
    font-family: monospace;
    text-align: center;
}

#main {
	display: inline-block;
    width: 1280px;
    margin: auto;
}

#draw_area {
    display: flex;
}

button {
    background-color: white;
    font-family: monospace;
    border: solid 1px;
}
button:active{
    background-color: black;
    color: white;
}

#side {
    display: grid;
    grid-template-columns: 100px;
    margin: 2%;
    gap: 4%;
    grid-auto-rows: 100px;
}

canvas {
    flex: none;
    border: solid 1px;
    margin: auto;
    transform: scaleX(-1);
}

video {
    display: none;
}

h1 {
    text-align: start;
    margin: 3%;
}

h2 {
    text-align: start;
    margin: 3%;
    margin-bottom: 1%;
}

ul {
    text-align: start;
}

#download_button {
    display: block;
    margin: 2%;
    display: none;
}