body {
    font-family: monospace;
    text-align: center;
}

div {
	display: inline-block;
}

canvas {
    flex: none;
    border: solid 1px;
    margin: auto;
    transform: scaleX(-1);
}

video {
    display: none;
}

h1 {
    text-align: start;
    margin: 5%;
    margin-bottom: 3%;
}

#download {
    display: block;
    margin: 2%;
}