body {
    font-family: monospace;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

#video {
    display: flex;
    justify-content: center;
}

canvas {
    flex: none;
    border: solid 1px;
    width: 800px;
    height: 600px;
}

video {
  display: none;
}

h1 {
    margin-bottom: 10%;
}
